@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
	ViewBag.Title = "Редактирай роля";
}

<h2 class="text-center pt-3 pb-2">Редактирай роля</h2>

@using (Html.BeginForm())
{
	<div class="form-horizontal col-md-8 mx-auto">
        <hr />
		<div class="form-group">
			<label class="control-label col-md-2">Име</label>
			<div class="col-md-12">
				@Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
			</div>
		</div>
        <div class="form-group mt-5">
            <div class="col-md-offset-2 col-md-12 text-center">
                <input type="submit" value="Запиши" class="btn btn-success pl-5 pr-5" />
                @Html.ActionLink("Отказ", "Index", new { area = "" }, new { @class = "btn btn-secondary pl-5 pr-5" })
            </div>
        </div>
	</div>
}

